@if(brand()) {
  <section>
    <div class="container">
      <h2 class="text-center text-main my-4">{{ 'brandDetails.title' | translate }}</h2>
      <div class="row mt-2 align-items-center">
        @if (brand()) {
        <div class="col-12 col-md-4 text-center">
          <img [src]="brand()?.image" [alt]="brand()?.name" class="w-100 rounded-3" height="400px">
          </div>
          <div class="col-12 col-md-8 my-4">
            <h3>{{brand()?.name}}</h3>
            <h6>{{brand()?.slug}}</h6>
            <p>From: {{brand()?.createdAt | date: 'dd/MM/YYYY'}}</p>
          </div>
        }
      </div>
    </div>
  </section>

}
